.form {
  background-color: #fff;
  border-radius: 0.3rem;
  width: fit-content;
  margin: 5rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;

  &__h2 {
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  &__input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding-left: 0.2rem;
    background-color: rgb(236, 234, 234);
  }

  &__small-error {
    color: red;
    font-weight: bold;
  }

  &__small-error--show {
    display: block;
  }

  &__small-error--hide {
    display: none;
  }

  &__button {
    padding: 0.2rem 0;
    border: 1px solid transparent;
    background-color: rgb(84, 136, 239);
    border-radius: 0.3rem;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: rgb(59, 102, 188);
    }
  }
}
